<app-server></app-server><br><br>
<app-server></app-server>

<button 
[disabled] = "allowNewServer" 
(click)="onClick()" 
class="btn btn-primary">Add new Server</button>

<input (input) = "onUpdateServerName($event)">
<p>{{serverName}}</p>

<input [(ngModel)] = "serverName">
<p>{{serverName}}</p>


<p>{{allowNewServer}}</p>
<!-- can use any of these of the way of data bianding-->
<p [innerText] = "allowNewServer"> </p>

<!-- dont use below code// dont use string interpolation(using same function inside it) -->
<!-- <p [innerText] = "{{allowNewServer}}"> </p> -->